* {
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to top right, #18cbea, #42ace8, #6366e5, #664ddf, #5569d3, #4b7bcc, #7055e1, #823ded, #3c84c4, #3c84c4,#1a6781, #065a67);
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  font-weight: 600;
}

/*header*/

header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0px 30px;
}

.small-card {
  align-items: center;
  background: rgba(51, 51, 51, 0.7);
  border-radius: 15px;
  box-shadow: -8px 8px 8px 2px rgba(51, 51, 51, 0.4);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  height: 70px;
  justify-content: space-evenly;
  width: 130px;
}

/*main*/

main {
  display: grid;
  font-size: 1.5em;
  grid-row-gap: 40px; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: 15px 85px 35px;
}

h1 {
  align-self: flex-end;
  color: #ffffff;
  font-size: 1.5em;
  text-shadow:
    -1px -1px 0 rgba(51, 51, 51),  
    1px -1px 0 rgba(51, 51, 51),
    -1px 1px 0 rgba(51, 51, 51),
    1px 1px 0 rgba(51, 51, 51),
    -4px 5px rgba(51, 51, 51, 0.4);
}